@charset "utf-8";

/* サジェストレイアウト */
.search-wrapper {
  }

  #search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
  }

  .suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 20%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .suggestions-list li {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  .suggestions-list li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
a:hover {
    text-decoration: none;
}
.logout {
    padding: 0!important;
}
.like-btn:hover {
    cursor: pointer;
    -webkit-transform: translateY(-1.5px);
    transform: translateY(-1.5px);
    transition: .3s;
}
.smooth {
    -webkit-font-smoothing: antialiased;
}
.forecast__link {
    color: #202020;
}
.forecast__city_mg {
    margin-right: 10px;
}
.forecast__icon {
    width: 50px;
}
.top__forecast_wrapper:hover {
    background-color: #ecf5ff;
    cursor: pointer;
}
.forecast {
    display: flex;
    align-items: center;
}
.forecasts__detail_pd {
    padding-left: 80px;
}
.title__wrapper {
    display: flex;
    align-items: center;
}
.title__container {
    width: 80%;
    display: flex;
    align-items: center;
}
.title__main {
    width: 70%;
}
.title__time {
    display: inline-block;
    width: 30%;
    text-align: left;
}
.auth__container {
    width: 20%;
}
.search__input {
    vertical-align: bottom;
    border: #b6b6b6 1px solid;
    border-radius: 5px;
}
.search__btn {
    padding: 4px 10px;
}
/* デスクトップサイズ (1024px以上) */
@media screen and (min-width: 1024px) {
    .forecasts__wrapper{
        max-width: 60%;
    }
    .top__forecast_wrapper {
        padding-left: 50px;
        width: 90%;
    }
    .top__heart_wrapper {
        width: 10%;
    }
    .title__wrapper {
        max-width: 65%;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
}
/* タブレットサイズ (600px 〜 1023px) */
@media screen and (max-width: 1023px) and (min-width: 600px) {
    .forecasts__wrapper{
        max-width: 80%;
    }
    .top__forecast_wrapper {
        width: 80%;
    }
    .top__heart_wrapper {
        width: 20%;
    }
    .title__wrapper {
        max-width: 80%;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 30%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 15%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 15%;
    }
}
/* スマートフォンサイズ (599px以下) */
@media screen and (max-width: 599px) {
    .forecasts__wrapper{
        max-width: 100%;;
    }
    .top__forecast_wrapper {
        width: 80%;
    }
    .top__heart_wrapper {
        width: 20%;
    }
    .title__wrapper {
        max-width: 100%;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 40%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
}
