@charset "utf-8";

a:hover {
    text-decoration: none;
}
.smooth {
    -webkit-font-smoothing: antialiased;
}
.forecast__link {
    color: #202020;
}
.forecast__city_mg {
    margin-right: 10px;
}
.forecast__icon {
    width: 50px;
}
.forecast__wrapper:hover {
    background-color: #ecf5ff;
    cursor: pointer;
}
.title__wrapper_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* デスクトップサイズ (1024px以上) */
@media screen and (min-width: 1024px) {
    .title__wrapper {
        max-width: 50%;
    }
    .forecasts__wrapper{
        max-width: 50%;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
}
/* タブレットサイズ (600px 〜 1023px) */
@media screen and (max-width: 1023px) and (min-width: 600px) {
    .title__wrapper {
        max-width: 80%;
    }
    .forecasts__wrapper{
        max-width: 80%;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 30%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 15%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 15%;
    }
}
/* スマートフォンサイズ (599px以下) */
@media screen and (max-width: 599px) {
    .title__wrapper {
        max-width: 100%;
    }
    .forecasts__wrapper{
        max-width: 100%;;
    }
    .forecast__time {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 40%;
    }
    .forecast__city {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
    .forecast__weather {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 25%;
    }
    .forecast__temp {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        width: 20%;
    }
}
